fastapi
uvicorn
pydantic
python-jose
passlib[bcrypt]
firebase-admin
firebase-functions
requests
cryptography
pandas
numpy
xgboost
shap
reportlab
aiohttp
httpx
python-multipart
PyPDF2
pytesseract
Pillow
